body {
    font-family:Arial, Helvetica, sans-serif;
}

#header {
    font-size: 230%;
    font-family: 'Copperplate Gothic Bold';
    color: #670000;
    border-bottom: 1px solid #000000;
    padding: .2%;
    padding-bottom: 0;
    vertical-align: bottom;
}

#footer {
    color:#FFFFFF;
    background-color:#670000;
    font-size: 90%;
    padding: .2%;
    margin-top: 1%;
}

#footer a {
    color: #fff;
    text-decoration: none;
    margin-left: 1%;
}

#main_headword h1 {
    font-weight: bold;
    font-size: 220%;
    margin: 0;
    margin-top: 1%;
}

#main_headword_form {
    margin: 0;
}

#main_headword_form input {
    border: 1px solid #fff;
    font-weight: bold;
    font-size: 220%;
    margin: 0;
    padding: 0;
    margin-top: 1%;
    width: 100%;
}

div.home {
	font-size: 250%;
    font-family: 'Copperplate Gothic Bold';
    color: #670000;
}

div.headword {
    font-size: 130%;
    font-family: 'Copperplate Gothic Bold';
    color: #670000;
    background: #eee;
}

div.block_header {
    font-size: 110%;
    font-family: 'Copperplate Gothic Bold';
    color: #000;
    background-image: url(/img/gray-gradient5.png);
    background-repeat: repeat-x;
    padding: 0px;
    margin: 0px;
    margin-top: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
    overflow: auto;
}

div.dictionary_name, div.corpus_name {
    float: left;
    padding: .5%;
}

div.triangle {
    padding-top: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    color: #aaa;
}

div.entry_count {
    background: #ddd;
    float: right;
    padding: .5%;
    width: 4%;
    text-align: center;
    font-family: sans-serif;
    font-size: 90%;
}

div.search_bar_home {
	margin: 0;
}

div.search_bar_home input {
	margin:01;
	font-size: 30px;
}

div.search_bar {
    margin: .4%;
    float: right;
}


div.search_bar input {
    margin: 0;
}

.dico_entries_container {
    border: 1px solid #aaa;
    display: block;
}

.main_pron_container, .nyms_container {
    background-image: url(/img/gray-gradient6.png);
    background-repeat: repeat-x;
    padding: 4px;
    margin: 0px;
    margin-top: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
    overflow: auto;
}

.wordwheel_container {
    background-image: url(/img/gray-gradient4.png);
    background-repeat: repeat-x;
    padding: 4px;
    margin: 0px;
    margin-top: 4px;
    border: 1px solid #aaa;
    cursor: pointer;
    overflow: auto;
}

.entry_pron_container, .entry_container, .example_container {
    margin: 2%;
}

h2.nyms_header, h2.pron_header, h2.wordwheel_header {
    font-size: 140%;
    font-weight: bold;
    color: #670000;
    margin-bottom: 1%;
}

.word_reference_trigger {
    cursor: pointer;
    text-decoration: underline;
    margin-top: 4%;
}

a.stealth_headword {
    text-decoration: none;
    color: #000;
}

a.stealth_headword:hover {
    text-decoration: underline;
    color: #670000;
}

a.visible_headword {
    text-decoration: underline;
    font-size: 120%;
    font-weight: bold;
    color: #670000;
}

.word_highlight, .incentive {
    font-size: 120%;
    font-weight: bold;
    color: #670000;
}

.web_link {
    text-decoration: underline;
    color: #28550D;
}

.vote {
    font-size: 130%;
    font-weight: bold;
}

ul.citations {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 1%;
}

ul.citations li {
    margin-top: 1%;
}

ol#wordwheel {
    list-style-type: none;
    list-style-position: inside;
    margin-left: 0;
    padding-left: 1%;
    font-size: 100%;
}

ol#wordwheel li.headword {
    font-weight: bold;
    font-style: italic;
}
