<%def name="search_bar()">
	<div class="search_bar">
		<form action="${url('/s')}" method="get">
			<input type="text" name="word" class="search_bar_word"
			 value="Recherche d'un mot" />
			<input type="submit" value="OK" />
		</form>
	</div>
</%def>

<html>
    <head>
        <title>${self.title()}</title>
		<link rel="stylesheet"
		 href="${url('/css/blueprint/screen.css')}"
		 type="text/css" media="screen, projection">
		<link rel="stylesheet"
		 href="${url('/css/blueprint/print.css')}"
		 type="text/css" media="print">
		<link rel="stylesheet"
		 href="${url('/css/blueprint/typography.css')}"
		 type="text/css" media="screen, projection">
		<!--[if lt IE 8]>
		<link rel="stylesheet"
		 href="'${url('css/blueprint/ie.css')}"
		 type="text/css" media="screen, projection">
		<![endif]-->
		<link rel="stylesheet" href="${url('/css/dvlf.css')}"
		 type="text/css" media="screen, projection">
		<script src="${url('jquery')}"></script>
		<script src="${url('/js/dodgr.js')}"></script>
    </head>

    <body>

		<div class="container">

			<div id="header" class="span-24 last">
				<div class="span-16">
					Dictionnaire vivant de la langue française
				</div>
				<div class="span-8 last">
					${self.search_bar()}
				</div>
			</div>

			<div id="index_alpha" class="span-3">
				whooosh!<br>
				wordwheel here<br>
				wheeeeee!
			</div>

			<div class="span-15">
				<div id="main_headword_container">
					<form action="${url('/s')}" method="get">
						<div id="main_headword_form">
							<input type="text" id="main_headword_input"
							 name="word" value="${c.word}" />
						</div>
					</form>
				</div>
       			${self.body()}
			</div>

			<div class="span-6 last">
				% if c.prons:
					<div class="main_pron_container">
						<h2 class="pron_header">Prononciation</h2>
						<!-- # TODO find a better way to get uniq'ed prons-->
						% for pron in set(c.prons):
							<div class="pron">
								${pron | n}
							</div>
						% endfor
					</div>
				% endif
				% if c.synonyms:
				<div class="nyms_container">
					<h2 class="nyms_header">Synonymes</h2>
					${', '.join([h.stealth_headword_link(word) for word in
					             c.synonyms]) | n}
				</div>
				% endif
				% if c.antonyms:
				<div class="nyms_container">
					<h2 class="nyms_header">Antonymes</h2>
					${', '.join([h.stealth_headword_link(word) for word in
					             c.antonyms]) | n}
				</div>
				% endif
				<div class="word_reference_trigger">
					Activer WordReference
				</div>
				<div id="word_reference_container"></div>
			</div>

			<div id="footer" class="span-24">
				<div class="span-16" id="footer_links"><a>The ARTFL Project</a> | University of Chicago | Nous contacter | À propos du DVLF | Outils linguistiques</div>
				<div class="span-8 last">
					${self.search_bar()}
				</div>
	        </div>
		</div>
    </body>
</html>
