<%namespace name="wordwheel" file="/wordwheel.html" />

<html>
    <head>
        <title>${self.title()}</title>
		<link rel="stylesheet"
		 href="${url('/css/blueprint/screen.css')}"
		 type="text/css" media="screen, projection">
		<link rel="stylesheet"
		 href="${url('/css/blueprint/print.css')}"
		 type="text/css" media="print">
		<link rel="stylesheet"
		 href="${url('/css/blueprint/typography.css')}"
		 type="text/css" media="screen, projection">
		<!--[if lt IE 8]>
		<link rel="stylesheet"
		 href="'${url('css/blueprint/ie.css')}"
		 type="text/css" media="screen, projection">
		<![endif]-->
		<link rel="stylesheet" href="${url('/css/dvlf.css')}"
		 type="text/css" media="screen, projection">
		<script src="${url('jquery')}"></script>
		<script src="${url('/js/dodgr.js')}"></script>
    </head>

    <body>

		<div class="container">

			<%include file="compact_header.html" />

			${self.body()}

			<%include file="footer.html" />

		</div>
    </body>
</html>
