# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: ${c.word}</%def>

% if c.dico_entries:
	${h.pluralize(['défintion', 'trouveé'], c.num_entries)} dans
	${h.pluralize(['dictionnaire'], c.num_dicos)}.
	% for dico_name, citation, entries in c.dico_entries:
		${show_dico_entries(citation, entries)}

	% endfor
% else:
	<div class="empty">
		Pas de définitions.
	</div>
% endif

% if c.num_sentences > 0:
	${h.pluralize(['phrase', 'trouveé'],c.num_sentences)} dans
	${h.pluralize(['corpus'], c.num_corpora, plurals=['corpora'])}.
	% if c.corpasentences:
		${show_corpa_sentences(c.corpasentences)}
	% endif
	% if c.littresentences:
		${show_littre_sentences(c.littresentences)}
	% endif
	% if c.websentences:
		${show_web_sentences(c.websentences)}
	% endif
% else:
	Pas de phrases.
% endif


<%def name="show_dico_entries(citation, entries)">
	<div class="block_header" style="display: block">
		<div class='triangle'>▽</div>
		<div class="dictionary_name">${citation}</div>
		<div class="entry_count">${len(entries)}</div>
	</div>
	<div class="dico_entries_container">
		% for entry in entries:
			<div class="dico_entry">
			${show_entry(entry)}
			</div>
	    % endfor
	</div>
</%def>

<%def name="show_entry(entry)">
<!--
	<div class="headword_container">
		% for headword in entry.headwords:
			<div class="headword">
				${headword[0] | n}
				% if headword[1]:
			 		${headword[1] | n}
				% endif
			</div>

		% endfor
	</div>

	% if entry.prons:
		<div class="pron_container">
			% for pron in entry.prons:
				<div class="pron">${h.sanitize_html(pron) | n}</div>
			% endfor
		</div>
	% endif


	% if entry.examples:
		<div class="example_container">
			<h2>Examples</h2>
			% for example in entry.examples:
				<div class="example">${h.sanitize_html(example) | n}</div>
			% endfor
		</div>
	% endif
-->
	<div class="entry_container">
		<div class="content">${h.sanitize_html(entry.content) | n}</div>
	</div>
</%def>

<%def name="show_corpa_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">Copra</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="corpa_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="corpa_sentences_container">
				<li>
					${sentence | n}
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="show_littre_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">Littré</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="littre_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="littre_sentence">
				<li>
					${sentence['content']} (${sentence['source']})
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="show_web_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">WWW</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="web_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="web_sentence">
				<li>${sentence['content'] | n}
				% if sentence['link']:
					(<a href="http://${sentence['link']}">
						${sentence['source']})
					</a>
				% else:
					(${sentence['source']})
				% endif
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>
