<%def name="all_dico_entries()">
	% if c.dico_entries:
		${h.pluralize([u'définition', u'trouvée'], c.num_entries)} dans
		${h.pluralize(['dictionnaire'], c.num_dicos)}.
		% for dico_name, citation, entries in c.dico_entries:
			${dico_entries(citation, entries)}
		% endfor
	% else:
		<div class="empty">
		<br>
		<b>Aucune entrée ne correspond à votre recherche.  Vous pouvez ajouter la définition de ce mot à notre base de données <a href="/soumissions/${c.word}">ici</a>.</b>
		<br>
		</div>
	% endif

	% if len(c.userdefs) > 0:
		${all_user_defs(c.userdefs)}
	% endif
</%def>

<%def name="dico_entries(citation, entries)">
	<div class="block_header" style="display: block">
		<div class='triangle'>▽</div>
		<div class="dictionary_name">${citation}</div>
		<div class="entry_count">${len(entries)}</div>
	</div>
	<div class="dico_entries_container">
		% for entry in entries:
			<div class="dico_entry">
			${single_entry(entry)}
			% if entry.is_truncated:
				&nbsp;&nbsp;&nbsp;&nbsp;<a href="${entry.full_entry_url}" target="_blank">Voyez la définition complète au CNRTL</a>
			<br>
			<br>
			% endif
			</div>
	    % endfor
	</div>
</%def>

<%def name="single_entry(entry)">
<!--
	<div class="headword_container">
		% for headword in entry.headwords:
			<div class="headword">
				${headword[0] | n}
				% if headword[1]:
			 		${headword[1] | n}
				% endif
			</div>

		% endfor
	</div>

	% if entry.prons:
		<div class="pron_container">
			% for pron in entry.prons:
				<div class="pron">${h.sanitize_html(pron) | n}</div>
			% endfor
		</div>
	% endif


	% if entry.examples:
		<div class="example_container">
			<h2>Examples</h2>
			% for example in entry.examples:
				<div class="example">${h.sanitize_html(example) | n}</div>
			% endfor
		</div>
	% endif
-->
	<div class="entry_container">
		<div class="content">${h.sanitize_html(entry.content) | n}</div>
	</div>
</%def>

<%def name="all_user_defs(userdefs)">
	<div class="block_header" style="display: block">
		<div class='triangle'>▽</div>
		<div class="dictionary_name">Définitions d'Utilisateurs</div>
		<div class="entry_count">${len(userdefs)}</div>
	</div>
	<div class="dico_entries_container">
		% for userdef in userdefs:
			<div class="dico_entry">
			${user_def(userdef)}
			</div>
	    % endfor
	</div>
</%def>

<%def name="user_def(content)">
	<div class="entry_container">
		<div class="content">${h.sanitize_html(content) | n}</div>
	</div>
</%def>
