<%inherit file="/base.html"/>\

<%def name="title()">Entries for ${c.word}</%def>

% if c.dico_entries:
	Dictionaries with entries for ${c.word}:
	<hr>
	% for citation, entries in c.dico_entries.iteritems():
		${show_dico_entries(citation[1], entries)}
		<hr>
	% endfor
% else:
	<div class="empty">
		No entries for ${c.word}.
	</div>
% endif

${show_corpa_sentences(c.corpasentences)}
<hr>
${show_littre_sentences(c.littresentences)}
<hr>
${show_web_sentences(c.websentences)}
<hr>

<%def name="show_dico_entries(citation, entries)">
	<div class="dico_entries_container">
		<h1>${citation}</h1>
		% for entry in entries:
			${show_entry(entry)}
	    % endfor
	</div>
</%def>

<%def name="show_entry(entry)">

	<div class="headword_container">
		<h2>Headwords</h2>
		% for headword in entry.headwords:
			<div class="headword">
				${headword[0] | n}
				% if headword[1]:
			 		${headword[1] | n}
				% endif
			</div>
		% endfor
	</div>

	% if entry.prons:
		<div class="pron_container">
			<h2>Pronunciations</h2>
			% for pron in entry.prons:
				<div class="pron">${pron | n}</div>
			% endfor
		</div>
	% endif

	% if entry.examples:
		<div class="example_container">
			<h2>Examples</h2>
			% for example in entry.examples:
				<div class="example">${example | n}</div>
			% endfor
		</div>
	% endif

	<div class="entry_container">
		<h2>Content</h2>
		<div class="content">${entry.content | n}</div>
	</div>
</%def>

<%def name="show_corpa_sentences(sentences)">
	<div class="corpa_sentences_container">
		<h1>Corpa Sentences</h1>
		<ul>
		% for sentence in sentences:
			<div class="corpa_sentences_container">
				<li>
					${sentence}
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="show_littre_sentences(sentences)">
	<div class="littre_sentences_container">
		<h1>Littré Sentences</h1>
		<ul>
		% for sentence in sentences:
			<div class="littre_sentence">
				<li>
					${sentence['content']} (${sentence['source']})
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="show_web_sentences(sentences)">
	<div class="web_sentences_container">
		<h1>Web Sentences</h1>
		<ul>
		% for sentence in sentences:
			<div class="web_sentence">
				<li>${sentence['content']}
					(<a href="http://${sentence['link']}">
						${sentence['source']})
					</a>
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>
