<%namespace name="search_forms" file="/search_forms.html" />

<div id="footer" class="span-24">
	<div class="span-16" id="footer_links">Email: artfl[at]artfl[dot]uchicago[dot]edu | <a href="http://artfl-project.uchicago.edu" target="_blank">The ARTFL Project</a> | <a href="http://www.uchicago.edu/" target="_blank">University of Chicago</a> |  <a href="http://dvlf.uchicago.edu/">À propos du DVLF</a> | <a href="${url('contribute')}" target="_blank">Contribuer</a></div>
	<div class="span-8 last">
		${search_forms.search_bar()}
	</div>
</div>
