<html> 
<head> 
<title> Le Dictionnaire vivant de la langue française </title>
      <link rel="stylesheet"
                 href="${url('/css/blueprint/screen.css')}"
                 type="text/css" media="screen, projection">
                <link rel="stylesheet"
                 href="${url('/css/blueprint/print.css')}"
                 type="text/css" media="print">
                <link rel="stylesheet"
                 href="${url('/css/blueprint/typography.css')}"
                 type="text/css" media="screen, projection">
                <!--[if lt IE 8]>                                                                                                                                                  
                <link rel="stylesheet"                                                                                                                                             
                 href="'${url('css/blueprint/ie.css')}"                                                                                                                            
                 type="text/css" media="screen, projection">                                                                                                                       
                <![endif]-->
                <link rel="stylesheet" href="${url('/css/dvlf.css')}"
                 type="text/css" media="screen, projection">
                <script src="${url('jquery')}"></script>
                <script src="${url('/js/dodgr.js')}"></script>

</head>
<body> 
<br>
<center><img src="${url('/img/dvlf_logo_medium.gif')}" id="" title="DVLF logo" /></center>
<br>
<center>Le Dictionnaire vivant de la langue française</center>
<br>
<br>
<div class="container">
Le Dictionnaire vivant de la langue française (DVLF) is an experimental approach to dictionary compilation
that will offer an interactive and community-oriented alternative to traditional methods of French
lexicography.  While the DVLF will incorporate traditional dictionary sources among its lexicographical resources, it
will also create an environment in which its users will have the ability to rate, critique, and add
to those resources as they see fit.  The DVLF will mirror the social and evolving nature of language, expanding upon the
dictionary's traditionally normative role by giving French speakers and learners access to lexicographic
tools so that they can interact with the evolving meaning of words and determine their own understanding of the language.<br><br>  We see the DVLF as a paradigm-shifting dictionary in the sphere of traditional French lexicography.



                <%include file="footer.html" />
</div>

</body>

</html>
