<%namespace name="search_forms_home" file="/search_forms_home.html" />

<html> 
<head> 
<title> Le Dictionnaire vivant de la langue française </title>
      <link rel="stylesheet"
                 href="${url('/css/blueprint/screen.css')}"
                 type="text/css" media="screen, projection">
                <link rel="stylesheet"
                 href="${url('/css/blueprint/print.css')}"
                 type="text/css" media="print">
                <link rel="stylesheet"
                 href="${url('/css/blueprint/typography.css')}"
                 type="text/css" media="screen, projection">
                <!--[if lt IE 8]>                                                                                                                                                  
                <link rel="stylesheet"                                                                                                                                             
                 href="'${url('css/blueprint/ie.css')}"                                                                                                                            
                 type="text/css" media="screen, projection">                                                                                                                       
                <![endif]-->
                <link rel="stylesheet" href="${url('/css/dvlf.css')}"
                 type="text/css" media="screen, projection">
		<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
                <script src="${url('jquery')}"></script>
                <script src="${url('/js/dodgr.js')}"></script>

</head>
<body> 
<br>
<center><img src="${url('/img/dvlf_logo_medium.gif')}" id="" title="DVLF logo" /></center>
<br>
<div class="home">
<center>Le Dictionnaire vivant de la langue française</center>
<br>
<div class="container">
<center>
${search_forms_home.search_bar_home()}
</center>
</div>
<br>
<center>Découvrez...explorez...définissez...votre langue</center>
</div>
<br>
<br>
<div class="container">

                <%include file="footer.html" />
</div>

</body>

</html>
