# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\
<%namespace name="wordwheel" file="/wordwheel.html" />
<%namespace name="entries" file="/entries.html" />
<%namespace name="sentences" file="/sentences.html" />

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: ${c.word}</%def>

<div id="index_alpha" class="span-3">
	${wordwheel.wheel(c.neighbors, headword=c.word)}
</div>

<div class="span-15">
	<div id="main_headword_container">
		<form action="${url('/s')}" method="get">
			<div id="main_headword_form">
				<input type="text" id="main_headword_input"
				 name="word" value="${c.word}" />
			</div>
		</form>
	</div>

	${entries.all_dico_entries()}

	% if c.dico_entries:
        ${sentences.all_sentences()}
    % endif

</div>

<div class="span-6 last">
    % if c.dico_entries:
        % if c.prons:
            <div class="main_pron_container">
                <h2 class="pron_header">Prononciation</h2>
                <!-- # TODO find a better way to get uniq'ed prons-->
                % for pron in set(c.prons):
                    <div class="pron">
                        ${pron | n}
                    </div>
                % endfor
            </div>
        % endif
        % if c.synonyms:
            <div class="nyms_container">
            <h2 class="nyms_header">Synonymes</h2>
            % if len(c.synonyms) > 30:
                <div id="truncated">${', '.join([h.stealth_headword_link(word) for word in
                        c.synonyms[:30]]) | n}</div>
                <div id="remainder" style="display:none;">${', '.join([h.stealth_headword_link(word) for word in
                            c.synonyms][30:]) | n}</div>
                ..<br><a class="web_link" id="toggle_nyms">Voir le reste des synonymes</a>
            </div>
            % else:
                ${', '.join([h.stealth_headword_link(word) for word in
                        c.synonyms[:30]]) | n}
            </div>
            % endif
        % endif
        % if c.antonyms:
        <div class="nyms_container">
            <h2 class="nyms_header">Antonymes</h2>
            ${', '.join([h.stealth_headword_link(word) for word in
                        c.antonyms]) | n}
        </div>
        % endif
        <div class="word_reference_trigger">
            <span class="web_link">Activer WordReference</span>
        </div>
        <div id="word_reference_container"></div>
    % endif
</div>



