# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\
<%namespace name="wordwheel" file="/wordwheel.html" />
<%namespace name="entries" file="/entries.html" />
<%namespace name="sentences" file="/sentences.html" />

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: ${c.word}</%def>

<div id="index_alpha" class="span-3">
	${wordwheel.wheel(c.neighbors, headword=c.word)}
</div>

<div class="span-15">
	<div id="main_headword_container">
		<form action="${url('/s')}" method="get">
			<div id="main_headword_form">
				<input type="text" id="main_headword_input"
				 name="word" value="${c.word}" />
			</div>
		</form>
	</div>

	${entries.all_dico_entries()}

	% if c.dico_entries:
        ${sentences.all_sentences()}
    % endif

</div>

<div class="span-6 last">
    % if c.dico_entries:
        % if c.prons:
            <div class="main_pron_container">
                <h2 class="pron_header">Prononciation</h2>
                <!-- # TODO find a better way to get uniq'ed prons-->
                % for pron in set(c.prons):
                    <div class="pron">
                        ${pron | n}
                    </div>
                % endfor
            </div>
        % endif
        % if c.synonyms:
            <div class="nyms_container">
            <h2 class="nyms_header">Synonymes</h2>
            % if len(c.synonyms) > 35:
                <span id="truncated">${', '.join([h.stealth_headword_link(word) for word in
                        c.synonyms[:30]]) | n},</span>
                <span id="ellipsis">...</span>
                <span id="remainder" style="display:none;">${', '.join([h.stealth_headword_link(word) for word in
                            c.synonyms][30:]) | n}</span>
                <br><a class="web_link" id="toggle_nyms">Voir le reste des synonymes</a>
            </div>
            % else:
                ${', '.join([h.stealth_headword_link(word) for word in
                        c.synonyms]) | n}
            </div>
            % endif
        % endif
        % if c.antonyms:
        <div class="nyms_container">
            <h2 class="nyms_header">Antonymes</h2>
            % if len(c.antonyms) > 35:
                <span id="truncated">${', '.join([h.stealth_headword_link(word) for word in
                        c.antonyms[:30]]) | n},</span>
                <span id="ellipsis_anto">...</span>
                <span id="remainder_anto" style="display:none;">${', '.join([h.stealth_headword_link(word) for word in
                            c.antonyms][30:]) | n}</span>
                <br><a class="web_link" id="toggle_anto">Voir le reste des antonymes</a>
            </div>
            % else:
                ${', '.join([h.stealth_headword_link(word) for word in
                        c.antonyms]) | n}
            </div>
            % endif
        % endif
        % if c.wordfreqs:
            <script type="text/javascript">                                                                                                                                                                                                                                            
            // Load the Visualization API and the piechart package.                                                                                                                                                                                                                  
            google.load('visualization', '1', {'packages':['corechart']});                                                                                                                                                                                                           
                                                                                                                                                                                                                                                    
            // Set a callback to run when the Google Visualization API is loaded.                                                                                                                                                                                                    
            google.setOnLoadCallback(drawChart);                                                                                                                                                                                                                                     
                                                                                                                                                                                                                                                    
            // Callback that creates and populates a data table,                                                                                                                                                                                                                     
            // instantiates the pie chart, passes in the data and                                                                                                                                                                                                                    
            // draws it.                                                                                                                                                                                                                                                             
            function drawChart() {                                                                                                                                                                                                                                                   
                                                                                                                                                                                                                                                    
            // Create our data table.                                                                                                                                                                                                                                                
                var data = new google.visualization.DataTable();                                                                                                                                                                                                                       
                data.addColumn('string', 'Temps');                                                                                                                                                                                                                                     
                data.addColumn('number', 'Fréquence');
                <% past_year = 0 %>
                <% first = 0 %>
                % for position, year in enumerate(sorted(c.wordfreqs)):
                    % if c.wordfreqs[year] == 0 and first != 1:
                        <% past_year = int(year) %>
                        <% continue %>
                    % endif
                    <% first = 1 %>
                    % if position != 0:
                        % while int(year) != past_year + 20:
                            <% past_year += 20 %>
                            data.addRow(['${past_year}', 0]);
                        % endwhile
                    % endif
                    data.addRow(['${year}', ${c.wordfreqs[year]}]);
                    <% past_year = int(year) %>
                % endfor
                                                                                                                                                                                                                                                    
                // Instantiate and draw our chart, passing in some options.                                                                                                                                                                                                            
                var chart = new google.visualization.LineChart(document.getElementById('chart'));                                                                                                                                                                                  
                chart.draw(data, {width: 224, height: 220, colors:['#476B21'], legend: 'none', chartArea:{left:32,top:15,width:188,height:"75%"}, pointSize: '2'});                                                                                                               
            }                                                                                                                                                                                                                                                                        
            </script>
            <div class="googlegraph_container">
            <h2 class="chart_header">Usage à travers le temps</h2>
            <span class="graph_title">Occurrences du mot "${c.word}" pour un million de mots</span>
            <div id="chart"></div></div>
        % endif
        <div class="word_reference_trigger">
            <span class="web_link">Activer WordReference</span>
        </div>
        <div id="word_reference_container"></div>
    % endif
</div>



