# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\
<%namespace name="wordwheel" file="/wordwheel.html" />
<%namespace name="entries" file="/entries.html" />
<%namespace name="sentences" file="/sentences.html" />

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: ${c.word}</%def>

<div id="index_alpha" class="span-3">
	${wordwheel.wheel(c.neighbors, headword=c.word)}
</div>

<div class="span-15">
	<div id="main_headword_container">
		<form action="${url('/s')}" method="get">
			<div id="main_headword_form">
				<input type="text" id="main_headword_input"
				 name="word" value="${c.word}" />
			</div>
		</form>
	</div>

	${entries.all_dico_entries()}

	% if c.dico_entries:
        ${sentences.all_sentences()}
    % endif

</div>

<div class="span-6 last">
    % if c.dico_entries:
        % if c.prons:
            <div class="main_pron_container">
                <h2 class="pron_header">Prononciation</h2>
                <!-- # TODO find a better way to get uniq'ed prons-->
                % for pron in set(c.prons):
                    <div class="pron">
                        ${pron | n}
                    </div>
                % endfor
            </div>
        % endif
        % if c.synonyms:
            <div id='truncated' class="nyms_container" style="display: block;">
            <h2 class="nyms_header">Synonymes</h2>
            ${', '.join([h.stealth_headword_link(word) for word in
                        c.synonyms[:30]]) | n}
            % if len(c.synonyms) > 30:
                ...</div>
                <script language="javascript">                                                                                                                                                                                                                                                 
                function toggle() {                                                                                                                                                                                                                                                            
                var ele = document.getElementById("truncated");                                                                                                                                                                                                                               
                var ele2 = document.getElementById("full");                                                                                                                                                                                                                                  
                var text = document.getElementById("displayText");                                                                                                                                                                                                                             
                if(ele.style.display == "block") {                                                                                                                                                                                                                                             
                ele.style.display = "none";                                                                                                                                                                                                                                                    
                ele2.style.display = "block";                                                                                                                                                                                                                                                  
                text.innerHTML = "Cacher";                                                                                                                                                                                                                                                       
                }                                                                                                                                                                                                                                                                              
                else {                                                                                                                                                                                                                                                                         
                ele.style.display = "block";                                                                                                                                                                                                                                                   
                ele2.style.display = "none";                                                                                                                                                                                                                                                   
                text.innerHTML = "Voir le reste des synonymes";                                                                                                                                                                                                                                                     
                }                                                                                                                                                                                                                                                                              
                }                                                                                                                                                                                                                                                                    
                </script>
                <div id="full" class="nyms_container" style="display: none;">
                <h2 class="nyms_header">Synonymes</h2>
                ${', '.join([h.stealth_headword_link(word) for word in
                            c.synonyms]) | n}
                </div>
                <a href="javascript:toggle();" id="displayText">Voir le reste des synonymes</a>
            % else: 
                </div>
            % endif
        % endif
        % if c.antonyms:
        <div class="nyms_container">
            <h2 class="nyms_header">Antonymes</h2>
            ${', '.join([h.stealth_headword_link(word) for word in
                        c.antonyms]) | n}
        </div>
        % endif
        <div class="word_reference_trigger">
            Activer WordReference
        </div>
        <div id="word_reference_container"></div>
    % endif
</div>



