<%def name="all_sentences()">
	% if c.num_sentences > 0:
		${h.pluralize([u'phrase', u'trouvée'],c.num_sentences)} dans
		${c.num_corpora} corpus.
		% if c.corpasentences:
			${corpa_sentences(c.corpasentences)}
		% endif
		% if c.littresentences:
			${littre_sentences(c.littresentences)}
		% endif
		% if c.websentences:
			${web_sentences(c.websentences)}
		% endif
	% else:
		<br>
		<b>Aucune phrase ne correspond à votre recherche.</b>
	% endif
</%def>

<%def name="corpa_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">CorpaText</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="corpa_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="corpa_sentences_container">
				<li>
					${sentence | n}
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="littre_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">Littré</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="littre_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="littre_sentence">
				<li>
					${sentence['content'] | n} (${sentence['source']})
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="web_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">WWW</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="web_sentences_container">
		<ul class="citations">
		% for sentence in sentences:
			<div class="web_sentence">
				<li>${sentence['content'] | n}
				% if sentence['link']:
					(<a href="http://${sentence['link']}" target="_blank">
						${sentence['source']})
					</a>
				% else:
					(${sentence['source']})
				% endif
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>
