<%def name="all_sentences()">
	% if c.num_sentences > 0:
        <div class="bigger">Vous aimez une phrase ? Faites compter votre opinion, votez pour elle !</div>
		${h.pluralize([u'phrase', u'trouvée'],c.num_sentences)} dans
		${c.num_corpora} corpus.
		% if c.corpasentences:
			${corpa_sentences(c.corpasentences)}
		% endif
		% if c.littresentences:
			${littre_sentences(c.littresentences)}
		% endif
		% if c.websentences:
			${web_sentences(c.websentences)}
		% endif
	% else:
		<br>
		<b>Aucune phrase ne correspond à votre recherche.</b>
	% endif
</%def>

<%def name="corpa_sentences(sentences)">
	<div class="block_header">
        <div class='triangle'>▽</div>
        <div class="corpus_name">CorpaText</div>
        <div class="entry_count">${len(c.corpasentences)}</div>
    </div>
    <div class="corpa_sentences_container">
		<ul class="citations">
		<script type="text/javascript">
            function votecorpa(table, word, id, action, score){
            $.ajax({
                type: "GET",
                url: '${h.url_for(controller="uservote", action="index")}',
                data:{table:table, word:word, id:id, action:action, score:score},
                dataType: "text",
                success: function(num) {
                    $('.countcorpa' + id).fadeOut(200,function(){ $(this).html('<span class="voted">' + num + '</span>').fadeIn(200); });
                }
            });
        }
        </script>
		% for sentence in sentences:
			<div class="corpa_sentences_container">
				<li>
					<a href="javascript:void(0);" OnClick="votecorpa('corpasentences_utf8', '${c.word}', '${sentence['id']}', 'add', ${sentence['score']});"><img src="${url('/img/gtk-zoom-in.png')}" height="12" width="12"></a> 
                    <span class="vote"><span class="countcorpa${sentence['id']}">${sentence['score']}</span></span>
					<a href="javascript:void(0);" OnClick="votecorpa('corpasentences_utf8', '${c.word}', '${sentence['id']}', 'subtract', ${sentence['score']});"><img src="${url('/img/gtk-zoom-out.png')}" height="12" width="12"></a>
					${h.highlight(sentence['content'], c.word_to_highlight) | n}
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="littre_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">Littré</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="littre_sentences_container">
		<ul class="citations">
		<script type="text/javascript">
        function votelittre(table, word, id, action, score, newscore){
            $.ajax({
                type: "GET",
                url: '${h.url_for(controller="uservote", action="index")}',
                data:{table:table, word:word, id:id, action:action, score:score},
                dataType: "text",
                success: function(num) {
                    $('.countlittre' + id).fadeOut(200,function(){ $(this).html('<span class="voted">' + num + '</span>').fadeIn(200); });
                }
            });
        }
        </script>
		% for sentence in sentences:
			<div class="littre_sentence">
				<li>
                    <a href="javascript:void(0);" OnClick="votelittre('littresentences_utf8', '${c.word}', '${sentence['id']}', 'add', ${sentence['score']});"><img src="${url('/img/gtk-zoom-in.png')}" height="12" width="12"></a>
                    <span class="vote"><span class="countlittre${sentence['id']}">${sentence['score']}</span></span>
                    <a href="javascript:void(0);" OnClick="votelittre('littresentences_utf8', '${c.word}', '${sentence['id']}', 'subtract', ${sentence['score']});"><img src="${url('/img/gtk-zoom-out.png')}" height="12" width="12"></a>
					${h.highlight(sentence['content'], c.word_to_highlight) | n} (${sentence['source']})
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>

<%def name="web_sentences(sentences)">
	<div class="block_header">
		<div class='triangle'>▽</div>
		<div class="corpus_name">WWW</div>
		<div class="entry_count">${len(sentences)}</div>
	</div>
	<div class="web_sentences_container">
		<ul class="citations">
		<script type="text/javascript">
        function voteweb(table, word, id, action, score){
            $.ajax({
                type: "GET",
                url: '${h.url_for(controller="uservote", action="index")}',
                data:{table:table, word:word, id:id, action:action, score:score},
                dataType: "text",
                success: function(num) {
                    $('.countweb' + id).fadeOut(200,function(){ $(this).html('<span class="voted">' + num + '</span>').fadeIn(200); });
                }
            });
        }
        </script>
		% for sentence in sentences:
			<div class="web_sentence">
				<li>
				<a href="javascript:void(0);" OnClick="voteweb('websentences_utf8', '${c.word}', '${sentence['id']}', 'add', ${sentence['score']});"><img src="${url('/img/gtk-zoom-in.png')}" height="12" width="12"></a>
                <span class="vote"><span class="countweb${sentence['id']}">${sentence['score']}</span></span>
                <a href="javascript:void(0);" OnClick="voteweb('websentences_utf8', '${c.word}', '${sentence['id']}', 'subtract', ${sentence['score']});"><img src="${url('/img/gtk-zoom-out.png')}" height="12" width="12"></a>
				${h.highlight(sentence['content'], c.word_to_highlight) | n}
				% if sentence['link']:
					(<a class="web_link" href="http://${sentence['link']}" target="_blank">
                    ${sentence['source']})
					</a>
				% else:
					(${sentence['source']})
				% endif
				</li>
			</div>
	    % endfor
		</ul>
	</div>
</%def>
