# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: Ajouter une définition</%def>

<p><b>Entrez votre mot, votre définition ou votre example. Puis appuyez sur "Soumettre".</p>

<p>Veuillez limiter votre contribution à 250 mots par champ.</b></p>

<form action="${url('/soumissions/submit')}" method="post">
	<label for="headword">Terme: </label><br>
	<input type="text" name="headword" value="${c.word}"/>
	<br />
	<label for="definition">Définition:</label><br>
	<textarea name="definition" /></textarea>

	${c.recaptcha | n}

	<input type="submit" value="Soumettre" />
	<input type="reset" value="Réinitialiser" />
</form>
