# -*- coding: utf-8 -*-
<%inherit file="/base.html"/>\

<%def name="title()">ARTFL :: Dictionnaire vivant de la langue française :: Ajouter une définition</%def>

<p>Entrer votre mot, votre définition ou votre example. Puis appuyez sur "Submit Query".</p>

<p>Veuillez limiter votre contribution à 250 mots par champ.</p>

<form action="${url('/soumissions/submit')}" method="post">
	<label for="headword">Terme:</label><br>
	<input type="text" name="headword" />
	<br />
	<label for="definition">Définition:</label><br>
	<textarea name="definition" /></textarea>

	${c.recaptcha | n}

	<input type="submit" />
	<input type="reset" />
</form>
